<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a puppy</h1>
    <form action="display_puppy" method="post">
      <input type="text" name="name" value="name">
      <input type="text" name="breed" value="breed">
      <input type="text" name="age" value="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
